.Projects {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: $nude200;

  h1 {
    margin-bottom: 24px;
    color: white;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  &__mobile {
    width: 15rem;
    margin-bottom: 24px;
  }
}