// colors

$primary: #00acc1;
$basic: #f7f7f7;
$black: #222222;

$nude100: #E3BC9A;
$nude200: #D9A476;
$nude300: #CF8C52;
$nude400: #BE7535;

$secondary100: #9B5F2B;
$secondary200: #774921;
$secondary300: #533317;

$gray100: #e9e9e9;
