.AboutMe {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: var(--bg-primary)
  }

  &__personalPresentation {
    text-align: center;

    p {
      font-size: 1.25em;
    }
  }

  &__external {
    &--link {
      margin: 8px;
    }
  }
}